@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* common layout */
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
p {
  font-family: "Inter", sans-serif;
}
button {
  cursor: pointer;
}
/* common color */

:root {
  --primary-p-color: #6c6c6c;
  --btn-background: #e02c6d;
  --heading-color: #0a0826;
  --nav-color: #3a3a3a;
  --border-color: #c0ccda;
  --top-padding: 6.25rem;
}

/* menu design */

.menu {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.menu ul {
  display: flex;
}
.menu ul li a {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--nav-color);
}
.head-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
.header-content {
  display: flex;
  gap: 1.5rem;
  padding: 4rem 0;
}
.head-text, .head-image{
    width:50%;
}
.head-text h1 {
  color: var(--heading-color);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 70px;
}
.head-text p {
  color: var(--nav-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin: 1rem 0;
}
.head-text button {
  padding: 0.6rem 1.5rem;
  background-color: var(--btn-background);
  border-radius: 2.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.sponsor {
  margin-top: 3rem;
}
.all-image {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:1rem;
  padding: 2.1rem 1rem;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}
.photocollection {
  padding-top: var(--top-padding);
}
.photocollection h2 {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 250% */
}
.popular-title {
  color: var(--heading-color);
  text-align: center;
  padding-bottom: 1.8rem;
}
.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem 0.9rem;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}
.fetcher-product {
  padding: 6.25rem 0;
}
.fetcher-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.content-fetcher h3 {
  color: var(--heading-color);
  font-size: 2.3rem;
  font-weight: 700;
}
.content-fetcher p {
  color: var(--nav-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  margin: 1rem 0;
}
.content-fetcher button {
  padding: 0.6rem 1.5rem;
  background-color: var(--btn-background);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}
footer {
  background: #0a0826;
}
.footer-content {
  text-align: center;
  padding: 2.6rem 0;
  color: #fff;
}
.footer-content p {
  line-height: 25px;
  margin: 5px 0;
}
.footer-content a {
  display: inline-block;
  color: #fff;
  margin: 25px 16px;
  font-size: 1.5rem;
}
.seemorebt-container {
  display: flex;
  justify-content: end;
  padding: 20px 0;
}
.seemorebtn {
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  border: none;
}
.footer-content a:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
.card-text h3 {
  color: var(--heading-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.card-text h4 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; 
}
.card-text p {
    margin:8px 0;
}
.card-text p i {
    color: #FB8200;
}
.card-text p span {
}
.card-text h5 {
    color: var(--primary-p-color);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 143%; /* 20.02px */
letter-spacing: 0.252px;
}


/* responsive design code */

@media screen and (max-width: 576px) {
    .menu{
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .header-content{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .head-text, .head-image{
        width:100%;
        text-align: center;
    }
    .row{
        grid-template-columns: 1fr;
    }
    .fetcher-product{
        grid-template-columns: 1fr;
        gap:20px;
        text-align: center;
    }
    .head-text h1{
        font-size: 2rem;
    }
    .content-fetcher h3{
        font-size: 2rem;
    }
    .menu ul{
        margin:0 auto;
    }
}
